<div class="profile min-h-dvh">
  <div class="profile__user col-xl-4">

    <div class="profile__images">
      <%= image_tag("https://picsum.photos/id/#{237 - (@user.id)}/1600/100") %>
      <%= image_tag("https://picsum.photos/id/#{@user.id}/72/72") %>
    </div>

    <div class="profile__info flex flex-col">
      <span class="fw-600 t-center">
        <%= @user.name %>
      </span>

      <span class="fw-600 t-center" style="color: #172554;">
        <%= "@" + @user.username %>
      </span>

      <br>

      <span>
        <span class="fw-600">
          Works at:
        </span>
        <%= @user.company %>
      </span>

      <span>
        <span class="fw-600">
          E-mail:
        </span>
        <%= @user.email %>
      </span>

      <span>
        <span class="fw-600">
          Tel:
        </span>
        <%= @user.phone %>
      </span>

      <br><br>

      <address>
        <span><%= @user.street %></span>
        <span><%= @user.suite %> /</span>
        <span><%= @user.city %></span>
        <br>
        <span><%= @user.zipcode %></span>
      </address>

      <br>

      <span class="fw-600 t-center" style="color: #172554;">
        <%= @user.website %>
      </span>

      <br><br>

      <div class="mx-auto">
        <button class="btn-dng">
          <%= link_to "Back", users_path %>
        </button>
        <button class="btn">
          <%= link_to "Edit", edit_user_path(@user), data: { turbo_frame: "modal" } %>
        </button>
      </div>
    </div>

  </div>

  <div class="profile__albums col-xl-8">

    <h2 class="profile__albums__title">
      <%= @user.name %>'s Albums
    </h2>

    <div>
      <% @user.albums.each do |album| %>
        <div class="albums__item flex">

          <div class="flex items-center albums__item__image">
            <%= image_tag("#{album.photos[0].thumbnail_url}") %>
          </div>

          <div class="flex flex-col justify-around ml-1 w-100">
            <div class="albums__item__title">
              <%= album.title %>
            </div>
            <div class="albums__item__info">
              Photos:
              <%= album.photos.count %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>

</div>
