<div class="profile min-h-dvh">
  <div class="profile__user col-xl-4">

    <div class="profile__images">
      <%= image_tag("https://picsum.photos/id/#{237 - (@user.id)}/1600/100") %>
      <%= image_tag("https://picsum.photos/id/#{@user.id}/72/72") %>
    </div>

    <div class="profile__info flex flex-col">
      <span class="fw-600 t-center">
        <%= @user.name %>
      </span>

      <span class="fw-600 t-center" style="color: #172554;">
        <%= "@" + @user.username %>
      </span>

      <br>

      <span>
        <span class="fw-600">Works at:</span>
        <%= @user.company %>
      </span>

      <span>
        <span class="fw-600">E-mail:</span>
        <%= @user.email %>
      </span>

      <span>
        <span class="fw-600">Tel:</span>
        <%= @user.phone %>
      </span>

      <br><br>

      <address>
        <span><%= @user.street %></span>
        <span><%= @user.suite %></span>
        <span><%= @user.city %></span>
        <br>
        <span><%= @user.zipcode %></span>
      </address>

      <br>

      <span class="fw-600 t-center" style="color: #172554;">
        <%= @user.website %>
      </span>

      <br><br>

      <div class="mx-auto">
        <%= link_to "Back", users_path, class: "btn-dng" %>
        <%= link_to "Edit", edit_user_path(@user), class: "btn" %>
      </div>
    </div>

  </div>

  <div class="profile__albums col-xl-8">

    <h2 class="profile__albums__title">
      <%= @user.name %>'s Albums
    </h2>

    <% if @user.albums.empty? %>
      <h2 class="t-center">Album not found.</h2>
    <% else %>
    <div data-controller="modal">
      <% @user.albums.each_with_index do |album, index| %>
        <div
        class="albums__item flex items-center"
        data-action="click->modal#showModal"
        data-album-title="<%= album.title %>"
        >
          <div class="albums__item__image">
            <%= image_tag(album.photos[0].thumbnail_url) %>
          </div>
          <div class="albums__item__title mx-auto">
            <h2>
              <%= "Album #{index + 1}" %>
            </h2>
            <div>
              <%= album.title %>
            </div>
          </div>
        </div>

        <div id="album_modal" class="hide" data-modal-target="modal">
          <div class="modal__container col-md-8 col-xl-6">
            <button id="close" data-action="click->modal#hideModal">
              <%= image_tag "x_mark.svg" %>
            </button>
            <div class="modal__info">
              <h2 class="modal__info__title" data-modal-target="title"></h2>
              <br>
              <p>Created at: <%= album.created_at.strftime('%d/%m/%y') %></p>
              <p><%= album.user.name %></p>
            </div>
            <div class="modal__photos">
              <h2 class="t-center">Total Photos: <%= album.photos.count %></h2>
              <br>
              <% album.photos.each do |photo| %>
                <span>
                  <%= image_tag(photo.thumbnail_url) %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    <% end %>
  </div>
</div>
